body{
    margin: 0;
}

.box-1{
    background-color: red;
}

.box-2{
    background-color: blue;
}

/* the styling for the twelve boxes */
.box{
    height: 150px;
    background-color: grey;
    border: 1px solid white;
    /* padding: 1px; */
    box-sizing: border-box;
}

.box:hover, 
.box:active{
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.col-1{
    width: 8.33%;
    position: relative;
    float: left;
}
.col-2{
    width: 16.66%;
    position: relative;
    float: left;
}
.col-3{
    width: 25%;
    position: relative;
    float: left;
}
.col-4{
    width: 33.32%;
    position: relative;
    float: left;
}
.col-5{
    width: 41.65%;
    position: relative;
    float: left;
}
.col-6{
    width: 50%;
    position: relative;
    float: left;
}
.col-7{
    width: 58.31%;
    position: relative;
    float: left;
}
.col-8{
    width: 66.64%;
    position: relative;
    float: left;
}
.col-9{
    width: 75%;
    position: relative;
    float: left;
}
.col-10{
    width: 83.3%;
    position: relative;
    float: left;
}
.col-11{
    width: 91.63%;
    position: relative;
    float: left;
}
.col-12{
    width: 100%;
    position: relative;
    float: left;
}

/* Off`s */
.off-1{
    margin-left: 8.33%;
    position: relative;
    float: left;
}
.off-2{
    margin-left: 8.33%;
    position: relative;
    float: left;
}
.off-3{
    margin-left: 25%;
    position: relative;
    float: left;
}
.off-4{
    margin-left: 33.32%;
    position: relative;
    float: left;
}