.bg-img{
    height: 600px;
    border-style: solid;
    border-color: black;
    background-image: url(football.jpg);
    /* Background-size makes the image to use the full width of the box we are using */
    background-size: cover;
}
.dark-scarf{
    height: inherit;
    /* inherit makes the child element to take on the color of the parent element */
    background-color: rgba(0,0,0,0.3);
}
h1, p{
    padding: 10px;
    text-align: center;
}

.maain-box{
    display: inline-block;
}

.card{
    justify-content: center;
}

.card{
    margin: auto;
    width: 30%;
    height: 800px;
    border-radius: 20px 20px 0 0;
    border-color: orange red grey yellowgreen;
    border-style: solid;
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
    background-color: #555555;
    color: yellow;

}
.card:hover{
    color: red;
    background-color: greenyellow;
}

.turningnorth{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
hr{
    margin-top: 450px;
}

/* Responsive cards */
@media screen and (max-width: 600px) {
    .card {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}
/* @media screen and (max-width: 800px) {
        .card {
          width: 45%;
          display: inline-block;
          margin-bottom: 20px;
        }
    } */