body{
    margin: 0;
    background-image: url(mission-impossible.jpg);
    overflow: hidden;
}

.rectangle{
    width: 300px;
    height: 150px;
    background-color: blue;
    /* transform: translateY(); */
    transition: width 5s, background-color 10s;
}
.rectangle:hover {
    /* transform: matrix(1, 0, 0.5, 1, 150, 150); */
    /* transform/translate moves an element along any axis we choose,
    based on the dimension we use */
    width: 350px;
    background-color: black;
}

.position{
    width: 200px;
    height: 200px;
    background-color: purple;
}


.sticky{
    position: sticky;
    top: 0;
}